* {
    font: higuen elegant serif;
}

header {
    margin: 1vw 0;
    padding-inline-start: 10%;
}

#amp-div {
    padding-inline-start: 30%;
}
sub{
    padding-inline-start: 50%;
}

#nav-section{
    background-color: green;

    
}
nav li a{
    text-decoration: none;
    color: beige;
    align-items: center;
}

nav li a:hover{
    color: azure;
}

